<nav
  class="navbar navbar-expand-lg bg-body-tertiary sticky-top"

>
  <div class="container-fluid d-flex header" >
    <a class="navbar-brand"  id="home"  style="cursor: pointer;"><img src="https://www.airsquirrels.com/hubfs/Logos/Ditto%20Logos/03%20Small/DittoTypeWhiteRGB_TighterCrop.png" onclick="navigate()" style="width: 125px;"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!currentLocation" class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            id="dittiHome"
            (click)="navigate()"
            >Home</a
          >
        </li>


        <ul class="list-group py-0" style="flex-direction: row;">
          <li class="list-group-item mx-2 text-align-center" *ngFor="let ditti of dittis" style="border-radius: 15px;border: 1px solid #1b3146;color: #1b3146;font-size: 22px;" >
            <a class="nav-link" (click)="navigateToDitti(ditti.name)">{{
              ditti.name
            }}</a>
          </li>

        </ul>


      </ul>

      <ul class="list-group nav-item mx-2 " style="flex-direction: row;">
        <li *ngIf="!isAuthenticated" class="nav-item list-group-item">
          <a class="nav-link active" aria-current="page" (click)="signUp()"
            >Sign-Up</a
          >
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item list-group-item">
          <a class="nav-link active" aria-current="page" (click)="login()"
            >Login</a
          >
        </li>




          <li *ngIf="isAuthenticated" class="nav-item list-group-item  ml-auto">
            <a class="nav-link" aria-current="page" (click)="onLogout()">Logout</a>
          </li>




      </ul>

    </div>
  </div>
</nav>
