.header-body{
  /* background-image: linear-gradient(to right, #84c7da, #5E8D9B); */
  background-image: linear-gradient(to right, #00b4db, #0083b0);
}

.list-group-item:hover{
  background-color: rgb(183, 199, 201);
}

.header-body{
  width: 99vw;
  /* overflow: hidden; */

}

.dittis{
  display: none;
}
.dittis:nth-child(-n+11) {
  display:block ;

}
.container-fluid{
  width: 100%;
}
