* {
  box-sizing: border-box;

}

.sidebar-opener {
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 2vw;
  color: black;
  width: 50px;
}

.sidebar-slider {
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
  background-color: #c44c36;
  transform: translateX(100%);
  transition: ease-in-out 300ms transform;
  width: 350px;
  border-radius: 15px;
  border-top-left-radius: 15px;
}

.sidebar-slider.sidebar-slide-in {
  transform: translateX(0%);
  transition: ease-in-out 600ms transform;
}

.sidebar-close {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
  padding: 16px;
}

.sidebar-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #1b3146;
  font-size: 22px;
  padding: 16px;

}

.sidebar-divs {
  margin-bottom: 150px;
  font-size: 28px;
 
  padding: 15px;


  padding-top: 15px;
}
.dittiName {
  padding-top: 30px;
  padding-bottom: 15px;
}
h2{
  font-weight: 600;
}
