<router-outlet></router-outlet>
<!-- Sidebar with title, description and rules?-->
<div
  *ngIf="displaySidebar == true"
  class="sidebar-opener"
  (click)="sidebarShow = !sidebarShow"
>
  Sidebar
</div>
<div
  *ngIf="displaySidebar == true"
  class="sidebar-slider"
  [class.sidebar-slide-in]="sidebarShow"
>
  <div class="sidebar-close" (click)="sidebarShow = !sidebarShow">X</div>
  <div class="sidebar-content">
    <h2 class="dittiName">{{ currentDitti.name }}</h2>
    <div
      class="sidebar-divs"
      (click)="checkURL()"
      routerLink="{{ currentDitti.name }}/createPost"
    >
      Create Post
    </div>
    <div class="sidebar-title">{{ currentDitti.description }}</div>
  </div>
</div>
