<div>
  <ul
    class="list-group posts"
    style="
      align-items: left;
      justify-content: space-evenly;
      padding-left: 25px;
      padding-top: 5px;
    "
  >
    <li
      class="list-group-item"
      (click)="navigate(x)"
      *ngFor="let posts of dittis.posts; let x = index"
      style="color: #5e8d9b"
    >
      <p style="padding-left: 10px">
        <img
          src="{{
            posts.image !== undefined
              ? posts.image
              : 'https://i.imgur.com/Qni03jZ.jpg'
          }}"
          alt=""
        />
        {{ posts.title }}
      </p>
    </li>
  </ul>
</div>
