<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authorization</title>
</head>
<body>
  <div class="container">
    <div class="row center">
      <div class="col border">
          <form action="">Sign Up</form>
          <label for="email">E-mail
            <input type="email">
          </label>
          <div class="col border">

            <label for="password">Password
              <input type="password">
            </label>
        </div>
      </div>

    </div>

  </div>

</body>
</html>


