<section class="vh-100" style="background-color:#f0f3f5">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div
          class="card text-black"
          style="
            border-radius: 25px;
            background-color: #0b7a75;
            border: 1px solid black;
          "
        >
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
