* {
  margin: 0;
  padding: 0;
}

.overlay {
  margin: auto;
  background-color: #84c7da;
  width: 650px;
  border: solid #1B3146 1px;
  padding: 10px;
  z-index: 3;
  border-radius: 25px;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-40%, -40%); */
}

.labelDescipt {
  font-size: small;
  font-style: italic;
  font-weight: 100;
  color: #767978;
}

.headers {
  text-align: center;
  color: #c9dce8;
}

.subHeader {
  font-weight: bold;
  color: #c9dce8;
}

.nsfw {
  color: #d2d4ba;
}

.btn {
  color: #0f171d;
}

.sidebar {
  min-height: 100%;
  width: 250px;
}

.position {
  position: sticky;
  top: 0;
}

.page {
  background-color: #1b1a1d;
  min-height: 100vh;
  width: 100%;
  padding-top: 75px;
}

input {
  margin-bottom: 5px;
}

/*  */

.box {
  display: flex;
}
