<p>header works!</p>
<!-- <div>
  <div class="ditti-headings d-flex flex-nowrap">
    <div class="order-1 p-2">Ditti 1</div>
    <div class="order-2 p-2">Ditti 2</div>
    <div class="order-3 p-2">Ditti 3</div>
    <div class="order-4 p-2">Ditti 4</div>
    <div class="order-5 p-2">Ditti 5</div>
  </div>
</div> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ditti</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ditti 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ditti 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ditti 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ditti 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ditti 5</a>
        </li>



