@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Nunito:wght@300&family=Open+Sans:wght@500&family=Quicksand:wght@400;500&family=Rubik:wght@500&family=Ubuntu:wght@300&display=swap');

/* CSS HEX
--jasper: #c05746ff;
--olivine: #adc698ff;
--tea-green: #d0e3c4ff;  foreground?
--white: #ffffffff;  back background
--violet-jtc: #503047ff;
 */





li{
  cursor: pointer;
}
.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: white;
  font-size: 16px;
  padding: 16px;
  height: 100%;
  background-color:#d0e3c4;
}
